body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: lightblue;
}

input {
    background-color: whitesmoke;
}