.container {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.box {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 3px;
}

#box1 {
    background-color: aquamarine;
    flex-grow: 1;
}

#box2 {
    background-color: rgb(115, 99, 236);
    flex-grow: 1;
}

#box3 {
    background-color: rgb(229, 255, 0);
    flex-grow: 1;
}