.header {
  background-color: yellow;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}

.relativo {
    position: relative;
    height: 100px;
    background-color: blue;
}

.absoluto {
    position: absolute;
    height: 50px;
    background-color: red;
    bottom: 0px;
    right: 10px;
    width: 20px;
}

.fixed {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
}