.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

.header {
    background-color: lightgray;
    padding: 20px;
    grid-column: 1 / -1;
}

.content {
    background-color: gray;
    padding: 20px;
}

.sidebar {
    background-color: white;
    padding: 20px;
}